<div class="container">
  <form #formEditLogin="ngForm" (submit)="onClickSubmit()">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="level1UserName" type="text" class="validate" name="userNameLevel1" [(ngModel)]="userNameLevel1">
        <label for="level1UserName">User Name</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="level1password" type="password" class="validate" name="passwordLevel1" [(ngModel)]="passwordLevel1">
        <label for="level1password">Password</label>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
          <button class="btn btn-dark submit" type="submit">Save Changes</button>
      </div>
    </div>
  </form>
</div>