<div class="container p-5">
  <form #signInForm="ngForm" (ngSubmit)="onSubmitClick()">
    <div class="row mt-4">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="UserName" type="text" class="validate" name="UserName" [(ngModel)]="UserName" required>
        <label for="UserName">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="validate" name="Password" [(ngModel)]="Password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-md-9">

      </div>
      <div class="col-md-3">
        <button class="btn btn-dark" type="submit" [disabled]="signInForm.invalid">Sign in</button>
      </div>
    </div>
    <!-- {{message}}
    {{memeberMessage}}
    <div class="row">
      <span style="color: white;" *ngIf="memeberMessage" [(ngModel)]="memeberMessage">{{message}}</span>
    </div> -->
  </form>
</div>
<!-- 
{{message}}
{{memeberMessage}} -->