<!-- Start portfolio 
<section id="portfolio">
  <div class="portfolio-area">
     
     <div class="portfolio-menu">
       <ul>
         <li class="filter" data-filter="all">All</li>
         <li class="filter" data-filter=".branding">Nano Tech</li>
         <li class="filter" data-filter=".design">Bio Medical</li>
         <li class="filter" data-filter=".development">Robotics</li>
         <li class="filter" data-filter=".photography">Chemistry</li>
       </ul>
     </div>      
     
     <div id="mixit-container" class="portfolio-container">
       <div class="single-portfolio mix branding">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-1.png" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-1.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix design">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-2.png" alt="img">
          <div class="single-item-content">               
            <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-2.jpg"><i class="fa fa-search-plus"></i></a>
            <div class="portfolio-title">
              <h4>Mobile application</h4>
              <span>UI Design</span>
            </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix development">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-3.jpg" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-3.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix photography">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-4.jpg" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-4.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix branding">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-5.jpg" alt="img">
          <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-5.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix design">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-1.png" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-1.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix branding">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-2.png" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-2.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix photography">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-3.jpg" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-3.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
        <div class="single-portfolio mix branding">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-1.png" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-1.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix design">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-2.png" alt="img">
          <div class="single-item-content">               
            <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-2.jpg"><i class="fa fa-search-plus"></i></a>
            <div class="portfolio-title">
              <h4>Mobile application</h4>
              <span>UI Design</span>
            </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix development">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-3.jpg" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-3.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
       <div class="single-portfolio mix photography">
         <div class="single-item">
           <img src="assets/images/portfolio/portfolio-4.jpg" alt="img">
           <div class="single-item-content">               
              <a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/images/portfolio/portfolio-big-4.jpg"><i class="fa fa-search-plus"></i></a>
              <div class="portfolio-title">
                <h4>Mobile application</h4>
                <span>UI Design</span>
              </div>
           </div>
         </div>
       </div>
     </div>        
  </div>
</section>
 End portfolio -->

 <div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Hotel Staffs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
            <h3 class="heading mb-3"><a href="#">Angella Lopez</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
            <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
          <h3 class="heading mb-3"><a href="#">Marina Stalks</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
          <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
          <h3 class="heading mb-3"><a href="#">Ethan Hoover</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
          <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
          <h3 class="heading mb-3"><a href="#">Megan Pearson</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
          <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
          <h3 class="heading mb-3"><a href="#">Cristine Smith</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
          <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-4 thumbnail"><img src="assets/images/portfolio/portfolio-big-4.jpg" alt="Image" class="img-fluid"></a>
          <div class="p-4">
          <h3 class="heading mb-3"><a href="#">Marina Stalks</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta quis.</p>
          <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Start subscribe us -->
<section id="subscribe">
  <div class="subscribe-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="subscribe-area">
            <h2 class="wow fadeInUp">Subscribe Newsletter</h2>
            <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
              <input type="text" placeholder="Enter Your E-mail..">
              <button class="subscribe-btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End subscribe us -->

<!-- Start footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="footer-left">
          <p>Developed by <a href="#">Xterem Coders 2k19</a></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="footer-right">
          <a href="index.html"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    

<script src="../jstempory/js/bootstrap.js"></script>

<script type="text/javascript" src="../jstempory/js/slick.js"></script>    

<script type="text/javascript" src="../jstempory/js/jquery.mixitup.js"></script>
    
<script type="text/javascript" src="../jstempory/js/jquery.fancybox.pack.js"></script>

<script src="../jstempory/js/waypoints.js"></script>
<script src="../jstempory/js/jquery.counterup.js"></script>

<script type="text/javascript" src="../jstempory/js/wow.js"></script> 

<script type="text/javascript" src="../jstempory/js/bootstrap-progressbar.js"></script>  



<script type="text/javascript" src="../jstempory/js/custom.js"></script>
</footer>
<!-- End footer -->






