
  <app-navigation-bar></app-navigation-bar>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="../jstempory/js/bootstrap.js"></script>
<!-- Slick Slider -->
<script type="text/javascript" src="../jstempory/js/slick.js"></script>    
<!-- mixit slider -->
<script type="text/javascript" src="../jstempory/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->        
<script type="text/javascript" src="../jstempory/js/jquery.fancybox.pack.js"></script>
<!-- counter -->
<script src="../jstempory/js/waypoints.js"></script>
<script src="../jstempory/js/jquery.counterup.js"></script>
<!-- Wow animation -->
<script type="text/javascript" src="../jstempory/js/wow.js"></script> 
<!-- progress bar   -->
<script type="text/javascript" src="../jstempory/js/bootstrap-progressbar.js"></script>  


<!-- Custom js -->
<script type="text/javascript" src="../jstempory/js/custom.js"></script>
  <router-outlet></router-outlet>



