<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">grokonez</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
    </ul><div class="container"></div>
  </div>
</nav>-->
  <app-navigation-bar></app-navigation-bar>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="../jstempory/js/bootstrap.js"></script>
<!-- Slick Slider -->
<script type="text/javascript" src="../jstempory/js/slick.js"></script>    
<!-- mixit slider -->
<script type="text/javascript" src="../jstempory/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->        
<script type="text/javascript" src="../jstempory/js/jquery.fancybox.pack.js"></script>
<!-- counter -->
<script src="../jstempory/js/waypoints.js"></script>
<script src="../jstempory/js/jquery.counterup.js"></script>
<!-- Wow animation -->
<script type="text/javascript" src="../jstempory/js/wow.js"></script> 
<!-- progress bar   -->
<script type="text/javascript" src="../jstempory/js/bootstrap-progressbar.js"></script>  


<!-- Custom js -->
<script type="text/javascript" src="../jstempory/js/custom.js"></script>
  <router-outlet></router-outlet>



