<div class="container">
  <form #editInstituteForm="ngForm" (ngSubmit)="onClickSubmit()">
    <div class="row">
      <div class="col-md-1"></div>
      <!-- <div class="col-md-2 m-3">Institute Name</div> -->
      <div class="input-field col m10">
        <input id="instituteUserName" type="text" class="validate" name="instituteUserName" [(ngModel)]="instituteUserName">
        <label for="instituteUserName">Institute User Name</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <!-- <div class="col-md-2 m-3">Institute Name</div> -->
      <div class="input-field col m10">
        <input id="instituteName" type="text" class="validate" name="instituteName" [(ngModel)]="instituteName">
        <label for="instituteName">Institute Name</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="instituteEmail" type="text" class="validate" name="instituteEmail" [(ngModel)]="instituteEmail">
        <label for="instituteEmail">Institute Email</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="instituteAddress" type="text" class="validate" name="instituteAddress" [(ngModel)]="instituteAddress">
        <label for="instituteAddress">Address</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="province" type="text" class="validate" name="instituteProvince" [(ngModel)]="instituteProvince">
        <label for="province">Province</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="city" type="text" class="validate" name="instituteCity" [(ngModel)]="instituteCity">
        <label for="city">City</label>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="instituteTelephone" type="text" class="validate" maxlength="10" name="instituteTelephone" [(ngModel)]="instituteTelephone">
        <label for="instituteTelephone">Telephone No</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="input-field col m10">
        <input id="institutePassword" type="password" class="validate" name="institutePassword" [(ngModel)]="institutePassword">
        <label for="institutePassword">Password</label>
      </div>
      <div class="col-md-1"></div>
    </div>

    <button class="btn btn-success" type="submit">Save Changes</button>
    <!-- <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 m-3">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample"
          style="margin: 0px;display: flex;justify-content: center;">
          <i class="material-icons">add</i> Add a Level 1 Employee
        </button>
      </div>
      <div class="col-md-8 m-3"></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 m-3"></div> -->
    <!-- <div class="col-md-10 m-3"> -->
    <!-- <div class="collapse col-md-10 m-3" id="collapseExample">
      <div class="row">
        <div class="card card-body"> --> 

          <!-- <div class="row"> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- <div class="input-field col m10">
                <input id="firstName" type="text" class="validate">
                <label for="firstName">Name of level1 Employee</label>
              </div> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- </div> -->

          <!-- <div class="row"> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- <div class="input-field col m10">
                <input id="level1Email" type="text" class="validate">
                <label for="level1Email">Email of level1 Employee</label>
              </div> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- </div> -->

          <!-- <div class="row"> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- <div class="input-field col m10">
                <input id="telephone0" type="number" class="validate" minlength="10">
                <label for="telephone0">Telephone No</label>
              </div> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- </div> -->

          <!-- <div class="row"> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- <div class="input-field col m10">
                <input id="personalEmail" type="email" class="validate" minlength="10">
                <label for="personalEmail">Personal Email</label>
              </div> -->
          <!-- <div class="col-md-1"></div> -->
          <!-- </div> -->
          <!-- </div>
        </div>
      </div> -->
          <!-- </div> -->
          <!-- <div class="col-md-1"></div>
    </div> -->

  </form>
</div>
