<div class="container p-5 mt-5" *ngIf="selector">
  <div class="row p-2 mt-1">
    <!-- <div class="col-md-4"></div> -->
    <div class="col-md-12">
      <button class="btn btn-dark btnResearcher" (click)="onClickRegisterResearcher()">Register as a Researcher</button>
    </div>
    <!-- <div class="col-md-4"></div> -->
  </div>
  <div class="row p-2">
    <!-- <div class="col-md-4"></div> -->
    <div class="col-md-12">
      <button class="btn btn-dark btnInstitute" (click)="onClickRegisterInstitute()">Register as a Institute</button>
    </div>
    <!-- <div class="col-md-4"></div> -->
  </div>


</div>
<app-sign-up *ngIf="r
